keras==3.15.0
matplotlib==3.8.3
numpy==1.26.4
pandas==2.2.2
requests==2.32.4
schedule==1.2.2
scikit-learn==1.5.1
tensorflow==2.21.0
tornado==6.5.8
typing_extensions==4.15.0
yfinance==0.2.65
zipp==3.17.0
