Jinja2==3.1.4
Pillow==10.0.0
PySocks==1.7.1
attrs==23.1.0
cryptography==41.0.3
distro==1.9.0
filelock==3.13.1
google-auth==2.32.0
importlib-metadata==6.8.0
keras==3.15.0
matplotlib==3.8.3
numpy==1.26.4
packaging==23.2
pandas==2.2.2
protobuf==7.35.1
pyparsing==3.1.1
requests==2.32.4
scikit-learn==1.5.1
tensorflow==2.21.0
tornado==6.5.8
typing_extensions==4.15.0
yfinance==0.2.65
zipp==3.17.0